input{
    border-radius: 10px;
    padding: 2px;
    border-width: .7px;
    margin-left: 10px;
    margin: 10px;
    text-align: center;
    width: 190px;
}
.hh{
    display: flex;
    justify-content: center !important;
    
}
.bd{
    margin-top: calc(100vh/10);
    text-align: center;
}
.sub{
    padding: 10px;
    background-color: rgb(108, 222, 108);
    color: black;

}
.sub:hover{
    background-color: green;
}
legend{
    font-weight: bold;
    font-size:xx-large;
}